body {
  background-color: whitesmoke;
}

nav ul a {
  color: black;
}

nav ul a:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

a.btn:focus {
  border: 1px solid white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.jumboLogo {
  max-height: 22vh;
  width: 100%;
}

.page-footer .footer-copyright {
  color: black;
}

::selection {
  background-color: rgba(0, 0, 0, 0.5);
  color: skyblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: 900;
}
