nav ul a {
    color: #053c13;
}

nav ul a:focus {
    background-color: rgba(0, 0, 0, 0.1);
}



a.btn:focus {
    border: 1px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.social-icons li a {
    transition: all ease-in 0.25s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.social-icons li a:hover {
    border: 2px solid #6faa6f;
    background-color: #6faa6f;
}

.social-icons li a:focus {
    border: 2px solid #6faa6f;
    background-color: #6faa6f;
}

.jumboLogo {
    max-height: 22vh;
    width: 100%;
}

.page-footer .footer-copyright {
    color: rgba(3, 65, 4, 0.8);
}