---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";
import ButtonLink from "../components/ui/ButtonLink.astro";
import Banner from "../components/ui/Banner.astro";
---

<Layout title="AZTECA Home Services">
  <main>
    <section
      class="relative flex h-[75vh] flex-col items-center justify-end bg-army-900 sm:justify-center"
    >
      <div class="hero contents">
        <Picture
          src="/landscape/general2.webp"
          alt="Beautiful clean sparkling pool"
          objectFit="cover"
          objectPosition="top center"
        />
      </div>
      <div class="container absolute z-10 mx-auto flex flex-col gap-4 p-4">
        <h2
          class="max-w-[600px] rounded bg-army-50/60 p-4 text-3xl text-army-900 drop-shadow-2xl backdrop-blur-sm"
        >
          <b>Say Goodbye to Pests</b>, <b>Hello to a Sparkling Pool</b> and <b
            >Yes to a Well-Manicured Landscape</b
          >
        </h2>
        <ButtonLink
          content="Schedule an Appointment"
          url="/contact"
          addBorder
        />
      </div>
    </section>

    <Banner cta="Contact us for a free estimate" />

    <section class="container mx-auto p-4">
      <h4 class="col-span-12 py-4 text-3xl font-black uppercase">
        Our Services
      </h4>
      <ul class="grid grid-cols-12 text-xl sm:gap-8">
        <li
          class="col-span-12 flex flex-col justify-between gap-4 pb-8 sm:col-span-4 sm:pb-0"
        >
          <div>
            <div class="flex items-center gap-2">
              <object width="40px" height="40px" data="/general/bug.svg" type=""
              ></object>
              <h5 class="whitespace-nowrap text-2xl font-bold">Pest Control</h5>
            </div>
            <p>
              <u>Termites</u>, <u>birds</u>, <u>scorpions</u>, <u>roaches</u>, <u
                >spiders</u
              >, <u>home seal</u>, <u>bed bugs</u>, <u>fleas</u>, <u>flies</u>, <u
                >mosquitoes</u
              >, <u>rodents</u>, and <u>bees</u> are pests we can rid you of. With
              <b>over 10 years of experience</b> using <em
                >integrated pest management</em
              >, we have a proven track record of successfully eradicating pest
              issues.
            </p>
          </div>

          <ButtonLink
            content="Pest Control"
            url="/pest-control"
            fullWidth
            addBorder
          />
        </li>

        <li
          class="col-span-12 flex flex-col justify-between gap-4 pb-8 sm:col-span-4 sm:pb-0"
        >
          <div>
            <div class="flex items-center gap-2">
              <object
                width="40px"
                height="40px"
                data="/general/shovel.svg"
                type=""></object>
              <h5 class="whitespace-nowrap text-2xl font-bold">Landscaping</h5>
            </div>
            <p>
              We offer <u>general maintenance</u>, <u>landscape installation</u
              >, <u>pavers</u>, <u>synthetic grass</u>, <u>sod</u>, <u
                >irrigration install/repair</u
              >, <u>tree removal/trimming</u> by <b>certified arborists</b>, <u
                >weed control</u
              >,
              <u>reseeding</u> and <u><em>more</em></u>! Whatever you need to
              keep your yard, lawn, or commercial landscaping in shape, we can
              do it!
            </p>
          </div>
          <ButtonLink
            content="Landscaping"
            url="/landscaping"
            fullWidth
            addBorder
          />
        </li>
        <li
          class="col-span-12 flex flex-col justify-between gap-4 pb-8 sm:col-span-4 sm:pb-0"
        >
          <div>
            <div class="flex items-center gap-2">
              <object
                width="40px"
                height="40px"
                data="/general/pool.svg"
                type=""></object>
              <h5 class="whitespace-nowrap text-2xl font-bold">
                Pool Services
              </h5>
            </div>
            <p>
              <u>Chemical balancing & testing</u>, <u>green-to-cleans</u>, <u
                >vacuuming & cleaning</u
              >, <u>algae prevention & removal</u>, <u>filter cleaning</u>, <u
                >sand changes</u
              >, <u>pool acid washes</u>, <u>tile cleaning</u>, <u
                >equipment repairs</u
              > and
              <u><em>more</em></u>! All of our services are performed by CPO
              certified technicians to ensure the highest level of quality and
              professionalism.
            </p>
          </div>
          <ButtonLink content="Pool Service" url="/pools" fullWidth addBorder />
        </li>
      </ul>
    </section>

    <!-- <hr class="my-3 border-army-300 mx-4" /> -->

    <section class="container mx-auto my-8 p-4">
      <h5 class="py-3 text-3xl font-black uppercase">Why AZTECA?</h5>
      <ul class="text-xl">
        <li>&check; Dedicated to Quality, Workmanship and Service</li>
        <li>&check; Licensed, Bonded and Insured</li>
        <li>&check; 100% Veteran Owned Business</li>
        <li>&check; Best in Industry Service / Customer Care Practices</li>
        <li>&check; Unmatched Service and Customer Care Practices</li>
        <li>
          &check; Azteca is a nominee with Ranking Arizona as one of the
          <em>Top Family-Owned Businesses</em>.
        </li>
      </ul>
    </section>

    <section class="container mx-auto my-8 p-4 text-xl">
      <h5 class="py-4 text-3xl font-black uppercase">Office Hours</h5>
      <ul>
        <li>Monday - Friday: 8:00am - 3:00pm</li>
      </ul>
      <span>Call now:</span>
      <a class="whitespace-nowrap font-bold underline" href="tel:602-926-2021"
        >602-926-2021</a
      >
    </section>

    <section class="container mx-auto my-8 p-4 text-xl">
      <h5 class="py-4 text-3xl font-black uppercase">Testimonials</h5>
      <div class="flex justify-center fill-army-900 py-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 24 24"
          class="h-[40px] w-[40px]"
        >
          <path d="m12 17 6 4-1-7 5-5h-7l-3-7-3 7H2l5 5-1 7z"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 24 24"
          class="h-[40px] w-[40px]"
        >
          <path d="m12 17 6 4-1-7 5-5h-7l-3-7-3 7H2l5 5-1 7z"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 24 24"
          class="h-[40px] w-[40px]"
        >
          <path d="m12 17 6 4-1-7 5-5h-7l-3-7-3 7H2l5 5-1 7z"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 24 24"
          class="h-[40px] w-[40px]"
        >
          <path d="m12 17 6 4-1-7 5-5h-7l-3-7-3 7H2l5 5-1 7z"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 24 24"
          class="h-[40px] w-[40px]"
        >
          <path d="m12 17 6 4-1-7 5-5h-7l-3-7-3 7H2l5 5-1 7z"></path>
        </svg>
      </div>
      <div class="grid w-full grid-flow-row gap-8 sm:grid-flow-col">
        <blockquote class="h-min border-l-[6px] border-army-900 pl-4">
          "Wonderful customer service and awesome techs. They make sure to
          address all of your concerns and make sure they do all they can to
          help. Will never use a different company again."
          <br /><br />
          - Ashley L.
        </blockquote>
        <blockquote class="h-min border-l-[6px] border-army-900 pl-4">
          "These guys are fantastic! Reasonably prices. Great service! Beautiful
          work!"
          <br /><br />
          - John S.
        </blockquote>
        <blockquote class="h-min border-l-[6px] border-army-900 pl-4">
          "My pool looks fantastic no matter how many kids I've had in it over
          the weekend! I appreciate the ease of business and the scheduling
          phone calls of when my landscaping will take place. It makes it so
          much easier to plan around. Thanks for the care and detail that is put
          into the service."
          <br /><br />
          - Michelle G.
        </blockquote>
      </div>
    </section>

    <Banner cta="Ready to schedule an appointment?" />

    <section class="container mx-auto p-4">
      <div
        class="bg-[url('/general/aztecaCalendarOutline.svg')] bg-contain bg-no-repeat"
      >
        <h4 class="py-4 text-3xl font-black uppercase">AZTECA Home Services</h4>
        <div class="grid grid-cols-12 gap-4">
          <img
            class="col-span-12 w-full max-w-[400px] rounded drop-shadow-lg sm:col-span-5"
            src="/landscape/grass5.webp"
            alt="Azteca Employees Working"
            loading="lazy"
          />
          <p class="col-span-12 text-xl sm:col-span-5">
            AZTECA Home Services is a full-service company that offers a wide
            variety of services to help maintain the necessities of your home
            and business. We offer individual services such as <a
              class="font-bold underline"
              href="/pest-control">pest control</a
            >, <a class="font-bold underline" href="/landscaping">landscaping</a
            >, and <a class="font-bold underline" href="/pools"
              >pool maintenance and repair</a
            >. For those that need full services, we have made it convenient for
            our clients to <em>bundle your services and save you money</em>. You
            will be able to rely on us to handle all of these services during
            your scheduled appointment.
          </p>
        </div>
      </div>
    </section>

    <section class="container mx-auto p-4">
      <div
        class="bg-[url('/general/days/Wind.svg')] bg-contain bg-right-bottom bg-no-repeat"
      >
        <h4 class="py-4 text-3xl font-black uppercase">Areas We Serve</h4>
        <div class="citiesLists grid grid-cols-12 text-xl">
          <ul class="col-span-12 sm:col-span-6 md:col-span-3">
            <li>Anthem</li>
            <li>El Mirage</li>
            <li>New River</li>
            <li>Scottsdale</li>
          </ul>
          <ul class="col-span-12 sm:col-span-6 md:col-span-3">
            <li>Black Canyon City</li>
            <li>Glendale</li>
            <li>Pardise Valley</li>
            <li>Sun City</li>
          </ul>
          <ul class="col-span-12 sm:col-span-6 md:col-span-3">
            <li>Glendale</li>
            <li>Luke AFB</li>
            <li>Peoria</li>
            <li>Sun City West</li>
          </ul>
          <ul class="col-span-12 sm:col-span-6 md:col-span-3">
            <li>Cave Creek</li>
            <li>Morristown</li>
            <li>Phoenix</li>
            <li>Surprise</li>
            <li>Youngtown</li>
          </ul>
        </div>
      </div>
    </section>

    <Banner cta="Book your appointment now!" />

    <section class="container mx-auto p-4">
      <div class="flex flex-col gap-4 text-lg lg:gap-8">
        <h2 class="py-4 text-3xl font-black uppercase">About the Owner</h2>
        <div class="grid grid-cols-12 sm:gap-4">
          <img
            class="col-span-12 w-full max-w-[640px] rounded-t drop-shadow-lg sm:col-span-4 sm:max-w-[400px] sm:rounded"
            src="/dad/volunteering.webp"
            alt="Frankie Volunteering"
            loading="lazy"
          />
          <img
            class="col-span-6 w-full max-w-[640px] rounded-bl drop-shadow-lg sm:col-span-4 sm:max-w-[400px] sm:rounded"
            src="/dad/foodBank.webp"
            alt="Frankie at a Food Bank"
            loading="lazy"
          />
          <img
            class="col-span-6 w-full max-w-[640px] rounded-br drop-shadow-lg sm:col-span-4 sm:max-w-[400px] sm:rounded"
            src="/dad/donatingBlood.webp"
            alt="Frankie donating Blood"
            loading="lazy"
          />
        </div>
        <p class="max-w-prose">
          Meet Frankie Ruiz, the proud owner of Azteca Home Services. Frankie
          opened the business in 2012 with the goal of providing exceptional
          pest, pool, and landscaping services, all while spending more quality
          time with his family. He is the proud father of three children,
          Xavier, Diego, and Savannah, and loves nothing more than spending time
          with them. When he's not working, Frankie enjoys riding his motorcycle
          or enjoying a cold beer with his friends and family.
        </p>
        <p class="max-w-prose">
          Frankie's dedication to his community runs deep, and it's evident in
          his commitment to giving back. He is a veteran and takes great pride
          in his service to his country. Additionally, Frankie is actively
          involved in community efforts such as food drives, blood donations,
          and volunteer work. He truly appreciates the opportunities his
          business provides, and he is dedicated to serving both his clients and
          his community.
        </p>
      </div>
    </section>
  </main>
</Layout>
<style>
  .citiesLists ul li {
    margin-bottom: 1rem;
  }
</style>
