---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";
import ButtonLink from "../components/ui/ButtonLink.astro";
import Banner from "../components/ui/Banner.astro";

---

<Layout title="Landscaping">
  <main>
    <section
      class="flex flex-col items-center justify-top sm:justify-center h-[75vh] relative bg-army-900"
    >
      <div class="hero contents">
        <Picture src="/landscape/general.webp" alt="Beautiful clean sparkling pool"
        objectFit="cover" objectPosition="top center"  />
      </div>
      <div class="container mx-auto p-4 flex flex-col gap-4 absolute z-10">
        <h2
          class="text-3xl max-w-[600px] p-4 bg-army-50/60 backdrop-blur-sm rounded text-army-900 drop-shadow-2xl"
        >
        <b>Transform</b> Your Desert Landscape into a <b
            >Lush and Inviting Oasis</b
          >
        </h2>
        <ButtonLink content="Get Quote Now" url="/contact" addBorder />
      </div>
    </section>

    <Banner cta="Let's create your personal paradise" />

  </main>
</Layout>
