---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";

---

<Layout title="Landscaping">
  <main>
    <section
      class="flex flex-col justify-top sm:justify-center h-[75vh] relative bg-army-900"
    >
      <div class="hero contents">
        <Picture src="/landscape/general.webp" alt="Beautiful clean sparkling pool"
        objectFit="cover" objectPosition="top center"  />
      </div>
      <div class="flex flex-col gap-4 p-4 lg:p-8 absolute z-10">
        <h2
          class="text-3xl max-w-[600px] p-4 bg-army-50/60 backdrop-blur-sm rounded text-army-900 drop-shadow-2xl"
        >
        <b>Transform</b> Your Desert Landscape into a <b
            >Lush and Inviting Oasis</b
          >
        </h2>
        <a
          class="rounded w-fit bg-army-900 text-army-50 p-4 pb-3 drop-shadow-2xl hover:bg-army-300 transition-colors text-lg font-bold border-b-8 border-army-300"
          href="/contact"
          >Get Quote Now
        </a>
      </div>
    </section>

    <aside
      class="grid grid-cols-1 items-center gap-4 bg-army-400 p-4 lg:p-8 md:grid-cols-3"
    >
      <h4 class="py-[14px] text-2xl font-light text-army-50 md:col-span-2">
        Let's Create Your Personal Paradise
      </h4>
      <a
        href="/contact"
        class="uppercase col-span-1 rounded bg-army-900 px-2 py-4 text-center text-lg font-bold text-army-50 transition-[background] hover:bg-army-300"
        >Contact Us</a
      >
    </aside>
  </main>
</Layout>
