---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";
import ButtonLink from "../components/ui/ButtonLink.astro";
import Banner from "../components/ui/Banner.astro";
---

<Layout title="Pest Control">
  <main>
    <section
      class="justify-top relative flex h-[75vh] flex-col items-center bg-army-900 sm:justify-center"
    >
      <div class="hero contents">
        <Picture
          src="/general/truck.webp"
          alt="AZTECA Pest Control truck in front of house"
          objectFit="cover"
          objectPosition="center"
        />
      </div>
      <div class="container mx-auto absolute z-10 flex flex-col gap-4 p-4">
        <h2
          class="max-w-[600px] rounded bg-army-50/60 p-4 text-3xl text-army-900 drop-shadow-2xl backdrop-blur-sm"
        >
          Keep Your Property <b>Pest-Free</b> with Our <b
            >Comprehensive Control Solutions</b
          >
        </h2>
        <ButtonLink
          content="Schedule an Appointment"
          url="/contact"
          addBorder
        />
      </div>
    </section>

    <Banner cta="Bid farewell to creepy crawlers" />
  </main>
</Layout>
