@tailwind base;
@tailwind components;
@tailwind utilities;

/* body { */
/*   background-color: #bbbb88; */
/* } */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 1000px;
  font-family: "Roboto", sans-serif;
}

a.btn:focus {
  border: 1px solid white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
