---
import AztecaLogo from "./AztecaLogo.astro";

const pathname = new URL(Astro.request.url).pathname;
const otherPathname =
  pathname.slice(-1) === "/" ? pathname.slice(0, -1) : pathname; // remove the last "/"
const paths = [
  { url: "/", name: "Home" },
  { url: "/pest-control", name: "Pest Control" },
  { url: "/pools", name: "Pools" },
  { url: "/landscaping", name: "Landscaping" },
  { url: "/contact", name: "Contact" },
];
---

<header
  class="bg-[var(--nav-background)] sm:flex sm:justify-between z-10 relative shadow-xl"
  
>
  <div class="flex w-auto justify-center">
    <a href="/">
      <AztecaLogo class="max-w-[225px]" 
      data-turbo-permanent id="headerLogo"
      />
    </a>
  </div>
  <div class="sm:flex sm:flex-col sm:justify-between">
    <div
      class="m-2 flex h-full items-center justify-center sm:justify-end flex-wrap"
    >
      <svg
        class="mt-[5px] h-[30px] w-[30px] fill-army-600 shrink-0"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 0 24 24"
        width="24px"
        fill="#000000"
      >
        <path
          d="M20.01 15.38c-1.23 0-2.42-.2-3.53-.56-.35-.12-.74-.03-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z"
        ></path>
      </svg>
      <a
        href="tel:602-926-2021"
        class="text-2xl font-bold text-army-600 text-center">(602)-926-2021</a
      >
    </div>
    <nav class="font-semibold text-army-900">
      <ul class="grid grid-cols-12 sm:grid-cols-none sm:grid-flow-col-dense sm:auto-cols-max" role="menubar">
        {
          paths.map((path) => (
            <li class="contents" role="none">
              <a
                class={`col-span-4 sm:col-auto text-center ring-2 ring-inset sm:border-b-8 sm:pb-2 sm:ring-0 sm:px-3 py-3 transition-colors hover:bg-army-300 hover:underline underline sm:no-underline whitespace-nowrap  ${
                  pathname === path.url || otherPathname === path.url
                    ? "ring-army-900 border-army-900 bg-army-300"
                    : "ring-army-300 border-transparent bg-transparent"
                }`}
                href={path.url}
                aria-current={pathname === path.url ? "true" : "false"}
                role="menuitem"
              >
                {path.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
<style is:global>
  :root {
    --nav-background: theme(colors.army.200);
  }
</style>
