---
import ButtonLink from "./ButtonLink.astro";

interface Props {
  cta: string;
  verticalSpace: boolean;
}
const { cta, verticalSpace } = Astro.props;
---

<aside class={`relative z-10 bg-army-500 ${verticalSpace ? " my-16 " : ""}`}>
  <div
    class="container mx-auto grid grid-cols-1 items-center gap-4 p-4 md:grid-cols-3"
  >
    <h4 class="grid text-2xl text-army-50 hover:underline md:col-span-2">
      <a class="h-full w-full py-[14px]" href="/contact">{cta}</a>
    </h4>
    <ButtonLink content="Contact Us" url="/contact" fullWidth upperCase />
  </div>
</aside>
